<div class="root-animation">
  <div class='place-holder'></div>
  <div class='container'>
    <a class='file-info'>
      <div class='file-info-date'>Apr 26, 2017</div>
      <p class='file-info-name'>Into the Woods</p>
    </a>
    <div class='author-info'>
      <span class='author-info-container'>
          <span class='author-info-avatar'>
              <a class='author-info-avatar-link'>
              <img class='author-info-avatar-img' alt='user avatar' src='https://lit-forest.github.io/img/desgin/author.jpg' />
              </a>
          </span>
      <div class='author-info-name'>
        <a class='author-info-name-link'>Alice Donovan Rouse</a>
      </div>
      </span>
    </div>
  </div>
</div>


<div class="root-animation">
  <div class='place-holder'></div>
  <div class='container'>
    <a class='file-info'>
      <div class='file-info-date'>Apr 26, 2017</div>
      <p class='file-info-name'>Into the Woods</p>
    </a>
    <div class='author-info'>
      <span class='author-info-container'>
          <span class='author-info-avatar'>
              <a class='author-info-avatar-link'>
              <img class='author-info-avatar-img' alt='user avatar' src='https://lit-forest.github.io/img/desgin/author.jpg' />
              </a>
          </span>
      <div class='author-info-name'>
        <a class='author-info-name-link'>Alice Donovan Rouse</a>
      </div>
      </span>
    </div>
  </div>
</div>


<div class="root-animation">
  <div class='place-holder'></div>
  <div class='container'>
    <a class='file-info'>
      <div class='file-info-date'>Apr 26, 2017</div>
      <p class='file-info-name'>Into the Woods</p>
    </a>
    <div class='author-info'>
      <span class='author-info-container'>
          <span class='author-info-avatar'>
              <a class='author-info-avatar-link'>
              <img class='author-info-avatar-img' alt='user avatar' src='https://lit-forest.github.io/img/desgin/author.jpg' />
              </a>
          </span>
      <div class='author-info-name'>
        <a class='author-info-name-link'>Alice Donovan Rouse</a>
      </div>
      </span>
    </div>
  </div>
</div>

<div class="root-animation">
  <div class='place-holder'></div>
  <div class='container'>
    <a class='file-info'>
      <div class='file-info-date'>Apr 26, 2017</div>
      <p class='file-info-name'>Into the Woods</p>
    </a>
    <div class='author-info'>
      <span class='author-info-container'>
          <span class='author-info-avatar'>
              <a class='author-info-avatar-link'>
              <img class='author-info-avatar-img' alt='user avatar' src='https://lit-forest.github.io/img/desgin/author.jpg' />
              </a>
          </span>
      <div class='author-info-name'>
        <a class='author-info-name-link'>Alice Donovan Rouse</a>
      </div>
      </span>
    </div>
  </div>
</div>


<div class="root-animation">
  <div class='place-holder'></div>
  <div class='container'>
    <a class='file-info'>
      <div class='file-info-date'>Apr 26, 2017</div>
      <p class='file-info-name'>Into the Woods</p>
    </a>
    <div class='author-info'>
      <span class='author-info-container'>
          <span class='author-info-avatar'>
              <a class='author-info-avatar-link'>
              <img class='author-info-avatar-img' alt='user avatar' src='https://lit-forest.github.io/img/desgin/author.jpg' />
              </a>
          </span>
      <div class='author-info-name'>
        <a class='author-info-name-link'>Alice Donovan Rouse</a>
      </div>
      </span>
    </div>
  </div>
</div>

<div class="root-animation">
  <div class='place-holder'></div>
  <div class='container'>
    <a class='file-info'>
      <div class='file-info-date'>Apr 26, 2017</div>
      <p class='file-info-name'>Into the Woods</p>
    </a>
    <div class='author-info'>
      <span class='author-info-container'>
          <span class='author-info-avatar'>
              <a class='author-info-avatar-link'>
              <img class='author-info-avatar-img' alt='user avatar' src='https://lit-forest.github.io/img/desgin/author.jpg' />
              </a>
          </span>
      <div class='author-info-name'>
        <a class='author-info-name-link'>Alice Donovan Rouse</a>
      </div>
      </span>
    </div>
  </div>
</div>